body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    display: flex;
    background: url('../imagenes/casa.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.barra_navegacion {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    border: solid 2px #ccc;
    border-radius: 3px;
}

.navegacion_menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navegacion_menu li {
    display: inline;
}

.navegacion_menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.navegacion_menu a:hover,
.navegacion_menu a:active {
    background: #db5dc0;
    color: white;
}

/* Estilos para el contenedor de los recuadros */
.contenedor_recuadros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 170px;
    gap: 20px;
}

.div_zapatos, .div_ropaniños, .div_ropaadultos, .div_accesorios, .div_conjuntos {
    width: 30%;
    margin: 20px 0;
}

.contenido_zapatos, .contenido_niños, .contenido_adultos, .contenido_accesorios, .contenido_conjuntos {
    text-align: center;
    background: transparent;
    padding: 20px;
    border: solid 4px #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}


.titulo_zapatos, .titulo_niños, .titulo_adultos, .titulo_accesorios, .titulo_conjuntos {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(
        to right,
            #fcfcfc 20%,
            #242517 40%,
             #718021 60%,
            #fcfcfc 80%
        );
    animation: shine 6s linear infinite;
       background-size: 200%;
    background-clip: text;
    color: transparent;
}

@keyframes shine {
to {
background-position: 200% center;
}
}

.imagen_zapatos, .imagen_niños, .imagen_adultos, .imagen_accesorios, .imagen_conjuntos {
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
}

.imagen_zapatos {
    background-size: cover;
    animation: changeImage 10s infinite;
}

@keyframes changeImage {
0% { background-image: url('../imagenes/zapatos_hombre.jpg'); }
33% { background-image: url('../imagenes/zapatos_mujer.jpg'); }
66% { background-image: url('../imagenes/zapatos_joven.jpg'); }
100% { background-image: url('../imagenes/zapatos_niños.jpg'); }
}

button[type="submit"] {
    background: #313131;
    color: white;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: #2980b9;
    color:#333
}